@page "/product"
@page "/product/{Id:int}"


<div class="panel">
    <div class="panel-heading">
        <h4>Produkt</h4>
    </div>


    @if (LoadFailed)
    {
        <div class="panel-block">
            <h2>Entschuldigung, diese Seite konnte aufgrund eines Fehlers nicht geladen werden.</h2>
        </div>
    }
    else if (NotFound)
    {
        <div class="panel-block">
            <h2>Entschuldigung, das Produkt konnte nicht gefunden werden.</h2>
        </div>
    }
    else if (Product == null)
    {
        <p><em>Lade...</em></p>
    }
    else
    {
        <div class="panel-block">

            <h3>@(CreationMode ? "Produkt hinzufügen" : "Produkt bearbeiten")</h3>
            <EditForm Model="@Product" OnValidSubmit="@Save" Class="container is-fluid">
                <DataAnnotationsValidator />
                <ValidationSummary />

                <div class="field">
                    <label class="label" for="Name">Name:</label>
                    <div class="control">
                        <InputText Class="input" @bind-Value="@Product.Name" />
                    </div>
                </div>
                <div class="field">
                    <label class="label" for="Price">Preis:</label>
                    <div class="control">
                        <InputNumber Class="input" @bind-Value="@Product.Price" />
                    </div>
                </div>

                <button class="button" type="submit">@(CreationMode ? "Hinzufügen" : "Ändern")</button>
            </EditForm>
        </div>
        <div class="panel-block">
            <h3>Formen</h3>
            <table class="table is-striped is-hoverable">
                <thead>
                    <tr>
                        <th>FormID</th>
                        <th>Anzahl</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var productForm in ProductForms)
                    {
                        <tr>
                            <td>@productForm.FormId</td>
                            <td>@productForm.Amount</td>
                            <td>
                                <button class="button is-small" @onclick="() => EditProductForm(productForm)">
                                    <span class="icon"><i class="fas fa-edit"></i></span>
                                    <span>Bearbeiten</span>
                                </button>
                            </td>
                            <td>
                                <button class="button is-small is-danger" @onclick="() => DeleteProductForm(productForm)">
                                    <span class="icon"><i class="fas fa-trash"></i></span>
                                    <span>Löschen</span>
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <button class="button" @onclick="AddProductForm">Form hinzufügen</button>
        </div>
    }
</div>
<BackButton></BackButton>
