@page "/form"
@page "/form/{Id:int}"

<div class="panel">
    <div class="panel-heading">
        <h4>Form</h4>
    </div>
    <div class="panel-block">

        @if (LoadFailed)
        {
            <h2>Entschuldigung, diese Seite konnte aufgrund eines Fehlers nicht geladen werden.</h2>
        }
        else if (NotFound)
        {
            <h2>Entschuldigung, die Form konnte nicht gefunden werden.</h2>
        }
        else if (Form == null)
        {
            <p><em>Lade...</em></p>
        }
        else
        {
                <h3>@(CreationMode ? "Form hinzufügen" : "Form bearbeiten")</h3>
                <EditForm Model="@Form" OnValidSubmit="@Save" Class="container is-fluid">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="field">
                        <label class="label" for="Actions">Name:</label>
                        <div class="control">
                            <InputText Class="input" @bind-Value="@Form.Name" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="Actions">Actions:</label>
                        <div class="control">
                            <InputNumber Class="input" @bind-Value="@Form.Actions" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="ActionsMax">ActionsMax:</label>
                        <div class="control">
                            <InputNumber Class="input" @bind-Value="@Form.ActionsMax" />
                        </div>
                    </div>
                    <div class="field">
                        <label class="label" for="CastingCells">CastingCells:</label>
                        <div class="control">
                            <InputNumber Class="input" @bind-Value="@Form.CastingCells" />
                        </div>
                    </div>

                    <button class="button" type="submit">@(CreationMode ? "Hinzufügen" : "Ändern")</button>
                </EditForm>
        }
    </div>
</div>
<BackButton></BackButton>