@page "/order/manage"
@page "/order/manage/{OrderId:int}"

    <nav class="panel">
        <div class="panel-heading">
            <div class="columns">
                <div class="column level-left">
                    <h4>Bestellung</h4>
                </div>
            </div>
        </div>
        @if (NotFound)
        {
            <div class="panel-block">
                <h2>Entschuldigung, die Bestellung konnte nicht gefunden werden.</h2>
            </div>
        }
        else if (Order == null)
        {
            <p><em>Lade...</em></p>
        }
        else
        {
            <div class="panel-block">

                <h3>@(CreationMode ? "Bestellung hinzufügen" : "Bestellung bearbeiten")</h3>
                <EditForm Model="@Order" OnValidSubmit="@Save" Class="container is-fluid">
                    <DataAnnotationsValidator />
                    <ValidationSummary />

                    <div class="field">
                        <label class="label" for="Date">Datum:</label>
                        <div class="control">
                            <InputDate Class="input" @bind-Value="@Order.Date" />
                        </div>
                    </div>

                    <button class="button" type="submit">@(CreationMode ? "Hinzufügen" : "Ändern")</button>
                </EditForm>
            </div>
            <div class="panel-heading">
                <div class="columns">
                    <div class="column level-left">
                        <h4>Produktbestellungen</h4>
                    </div>
                    <div class="column" style="display: inline-table;">
                        <button class="button level-right" @onclick="() => AddOrderProduct()">
                            <span class="icon">
                                <i class="fas fa-plus"></i>
                            </span>
                            <span>Produktbestellung hinzufügen</span>
                        </button>
                    </div>
                </div>
            </div>
            <div class="panel-block">
                @if (OrderProducts == null)
                {
                    <p><em>Lade...</em></p>
                }
                else
                {
                    <table class="table is-striped is-hoverable">
                        <thead>
                            <tr>
                                <th>ProduktID</th>
                                <th>Produktname</th>
                                <th>Anzahl</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var orderproduct in OrderProducts)
                            {
                                <tr>
                                    <td>@orderproduct.Product.Id</td>
                                    <td>@orderproduct.Product.Name</td>
                                    <td>@orderproduct.Amount</td>
                                    <td>
                                        <button class="button is-small" @onclick="() => EditOrderProduct(orderproduct)">
                                            <span class="icon"><i class="fas fa-edit"></i></span>
                                            <span>Bearbeiten</span>
                                        </button>
                                    </td>
                                    <td>
                                        <button class="button is-small is-danger" @onclick="() => DeleteOrderProduct(orderproduct)">
                                            <span class="icon"><i class="fas fa-trash"></i></span>
                                            <span>Löschen</span>
                                        </button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        }
    </nav>